<div class="guidanceMain">
    <div class="guidanceListContent guidanceListContentYellow">
      <div class="guidanceListContentLeft">
        <div class="guidenceOfficerFlexImg">
          <img src="./assets/images/guidenceListUser.png" />
          <div class="guidanceListContentOfficer"> E/R or bridge watchkeeping
            officer </div>
        </div>
        <div class="guidanceListContentLeftDetails">
          <div class="guidanceListContentIssue">
            Consider to stop steering gear pump
          </div>
          <div class="guidanceListContentDescription">
            Steering gear pump is running after FWE causing additional maintenance
          </div>
        </div>
      </div>

      <div class="estimatedValue">
        <div class="kgPerHr">kg/hr</div>
        <div class="EstimatedvaluePerKg">20</div>
      </div>

      <div class="ActualValue">
        <div class="kgPerHr">Kg</div>
        <div class="ActualvaluePerKg">200</div>
      </div>
      <!-- mobile view only -->
      <div class="valueForMobileView">
        <div class="mobileEstimatedValue">
          <div class="mobilekgPerHr">kg/hr</div>
          <div class="mobileEstimatedvaluePerKg">20</div>
        </div>

        <div class="mobileActualValue">
          <div class="mobilekgPerHr">Kg</div>
          <div class="mobileActualvaluePerKg">200</div>
        </div>
        <div>
          <div class="mobilekgPerHr">Active Since</div>
          <div class="mobileGuidanceListTime">05d 21h 40m</div>
        </div>
      </div>
      <!-- mobile view ends -->

      <div class="guidanceListContentRight">
        <div class="guidanceListTime">05d 21h 40m</div>
        <div class="guidanceButtons">
          <!-- <button class="acknowledgeBtn">Acknowledge</button> -->

          <!-- bootstrap component ##############################-->

          <!-- Button trigger modal -->
          <button type="button" class=" detailsBtn" data-bs-toggle="modal"
            data-bs-target="#exampleModalCenter7">
            Details
          </button>

          <!-- Modal -->
          <div class="modal fade bd-example-modal-lg " id="exampleModalCenter7" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg detailsOnClickModalForTab" role="document">
              <div class="modal-content noBorderForMobileAckPop">
                <div class="modal-header">
                  <h5 class="modal-title modalpopupheading" id="exampleModalCenterTitle">
                    Automated Guidance Details
                  </h5>
                  <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button> -->
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                  <div class="DetailsModalOnlyForDeskTop">
                    <h4 class="modalDetailText">Details</h4>
                    <div class="acknowledgeModalList acknowledgeModalListYellow ">
                      <div class="guidanceListContentLeft">
                        <div class="guidenceOfficerFlexImg">
                          <img src="./assets/images/guidenceListUser.png" />
                          <div class="guidanceListContentOfficer"> E/R or bridge watchkeeping
                            officer </div>
                        </div>
                        <div class="guidanceListContentLeftDetails">
                          <div class="guidanceListContentIssue">
                            Consider to stop steering gear pump
                          </div>
                          <div class="guidanceListContentDescription">
                            Steering gear pump is running after FWE causing
                            additional maintenance
                          </div>
                        </div>
                      </div>

                      <div class="estimatedValue">
                        <div class="kgPerHr">kg/hr</div>
                        <div class="EstimatedvaluePerKg">20</div>
                      </div>

                      <div class="ActualValue">
                        <div class="kgPerHr">Kg</div>
                        <div class="ActualvaluePerKg ActualvaluePerKgYellow">200</div>
                      </div>
                      <div>
                        <div class="modalkgPerHr">Active Since</div>
                        <div class="modalGuidanceListTime">05d 21h 40m</div>
                      </div>
                    </div>

                    <div class="modalListSecond">
                      <div class="row modalListSecondGrid">
                        <div class="col guidanceListContentIssue">
                          Acknowledged By
                        </div>
                        <div class="col guidanceListContentIssue">Reason</div>
                        <div class="w-100"></div>
                        <div class="col modalRedText">

                          <div class="modalAcknowledgedByOfficierYellow">1st Officer</div>


                        </div>
                        <div class="col modalRedText">

                          <div class="modalAcknowledgedByOfficierYellow">Pump Defective</div>

                        </div>
                      </div>
                    </div>

                    <div class="modalSeperationLine"></div>

                    <div class="modalStatusBar">
                      <div class="modalStatusProgressText">Status Progress</div>
                      <div class="modalStatusProgressGrid">
                        <div class="modalStatusGridText">Triggered</div>
                        <div class="modalStatusGridText">Activated</div>
                        <div class="modalStatusGridText">Acknowledged</div>
                        <div class="modalStatusProgressGridGrayText">Cleared</div>
                        <div class="modalStatusFlex">
                          <div class="modalStatusdiagram modalStatusdiagramImgPosition">
                              
                                  <img src="./assets/images/ackTickMark.png" />
                                
                          </div>
                          <div class="modalStatusLine"></div>
                        </div>
                        <div class="modalStatusFlex">
                          <div class="modalStatusdiagram modalStatusdiagramImgPosition">
                              
                                  <img src="./assets/images/ackTickMark.png" />
                                
                          </div>
                          <div class="modalStatusLine"></div>
                        </div>
                        <div class="modalStatusFlex">
                          <div class="modalStatusdiagram modalStatusdiagramImgPosition">
                              
                                  <img src="./assets/images/ackTickMark.png" />
                                
                          </div>
                          <!-- <div class="modalStatusGrayLine"></div> -->
                          <div class="modalStatusLineDashedGrayLine "></div>
                        </div>
                        <div class="modalStatusFlex">
                          <div class="modalStatusdiagramHollowGray"></div>
                          <div class=""></div>
                        </div>
                        <div class="modalStatusDateAndTime">
                          <div class="modalStatusDate">20-04-23</div>
                          <div class="modalStatusTime">09:23 PM</div>
                        </div>
                        <div class="modalStatusDateAndTime">
                          <div class="modalStatusDate">20-04-23</div>
                          <div class="modalStatusTime">09:23 PM</div>
                        </div>
                        <div class="modalStatusDateAndTime">
                          <div class="modalStatusDate">20-04-23</div>
                          <div class="modalStatusTime">09:23 PM</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="DetailsModalOnlyForMobile">
                    <h4 class="modalDetailText">Details</h4>

                    <div class="guidanceMain">
                      <div class="guidanceListContent guidanceListContentYellow yellowBorderForModelMobilePopUp">
                        <div class="guidanceListContentLeft">
                          <div class="guidenceOfficerFlexImg">
                            <img src="./assets/images/guidenceListUser.png" />
                            <div class="guidanceListContentOfficer"> E/R or bridge watchkeeping
                              officer</div>
                          </div>
                          <div class="guidanceListContentLeftDetails">
                            <div class="guidanceListContentIssue"> Consider to stop steering
                              gear pump </div>
                            <div class="guidanceListContentDescription"> Steering gear pump
                              is running after FWE causing additional maintenance </div>
                          </div>
                        </div>
                        <div class="estimatedValue">
                          <div class="kgPerHr">kg/hr</div>
                          <div class="EstimatedvaluePerKg">20</div>
                        </div>
                        <div class="ActualValue">
                          <div class="kgPerHr">Kg</div>
                          <div class="ActualvaluePerKg ActualvaluePerKgYellow">200</div>
                        </div>
                        <div class="valueForMobileView">
                          <div class="mobileEstimatedValue">
                            <div class="mobilekgPerHr">kg/hr</div>
                            <div class="mobileEstimatedvaluePerKg">20</div>
                          </div>
                          <div class="mobileActualValue">
                            <div class="mobilekgPerHr">Kg</div>
                            <div class="mobileActualvaluePerKg ActualvaluePerKgYellow">20</div>
                          </div>
                          <div>
                            <div class="mobilekgPerHr">Active Since</div>
                            <div class="mobileGuidanceListTime">05d 21h 40m</div>
                          </div>
                        </div>
                        <div class="guidanceListContentRight">
                          <div class="guidanceListTime">05d 21h 40m</div>

                        </div>
                      </div>
                    </div>

                    <div class="modalListSecond">
                      <div class="row modalListSecondGrid">
                        <div class="col guidanceListContentIssue"> Acknowledged By </div>
                        <div class="col guidanceListContentIssue">Reason</div>
                        <div class="w-100"></div>
                        <div class="col modalRedText">

                          <div class="modalAcknowledgedByOfficierYellow">1st Officer</div>

                        </div>
                        <div class="col modalRedText">

                          <div class="modalAcknowledgedByOfficierYellow">1st Officer</div>

                        </div>
                      </div>
                    </div>

                    <div class="modalSeperationLine"></div>

                    <div class="modalStatusBar">
                      <div class="modalStatusProgressText">Status Progress</div>
                      <div class="modalStatusProgressGrid">
                        <div>Triggered</div>
                        <div>Activated</div>
                        <div>Acknowledged</div>
                        <div class="modalStatusProgressGridGrayText">Cleared</div>
                        <div class="modalStatusFlex">
                          <div class="modalStatusdiagram modalStatusdiagramImgPosition">
                              
                                  <img src="./assets/images/ackTickMark.png" />
                                
                          </div>
                          <div class="modalStatusLine"></div>
                        </div>
                        <div class="modalStatusFlex">
                          <div class="modalStatusdiagram modalStatusdiagramImgPosition">
                              
                                  <img src="./assets/images/ackTickMark.png" />
                                
                          </div>
                          <!-- <div class="modalStatusLineDashed"></div> -->
                          <div class="modalStatusLine"></div>

                        </div>
                        <div class="modalStatusFlex">
                          <div class="modalStatusdiagram modalStatusdiagramImgPosition">
                              
                                  <img src="./assets/images/ackTickMark.png" />
                                
                          </div>
                          <div class="modalStatusLineDashedGrayLine"></div>
                        </div>
                        <div class="modalStatusFlex">
                          <div class="modalStatusdiagramHollowGray"></div>
                          <div></div>
                        </div>
                        <div class="modalStatusDateAndTime">
                          <div class="modalStatusDate">20-04-23</div>
                          <div class="modalStatusTime">09:23 PM</div>
                        </div>
                        <div class="modalStatusDateAndTime">
                          <div class="modalStatusDate">20-04-23</div>
                          <div class="modalStatusTime">09:23 PM</div>
                        </div>
                        <div class="modalStatusDateAndTime">
                          <div class="modalStatusDate">20-04-23</div>
                          <div class="modalStatusTime">09:23 PM</div>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>
                <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    Acknowledge
                  </button>
                </div> -->
              </div>
            </div>
          </div>

          <!-- <button class="detailsBtn">Details</button> -->
        </div>
      </div>
    </div>
  </div>