<div class="mainComponents">
    <!-- sideBar -->
    <div class="sideBarMainComponent">
        <app-side-bar (dataToNavEvent)="recieveDataFromSideBar($event)"></app-side-bar>
    </div>


    <div class="navAndRouteMainComponent">

        <!-- navBar -->
        <div class="navBarMain">
            <app-nav-bar [dataFromAppComp]="disablenavBarForWorldMap"></app-nav-bar>
        </div>

        <!-- routes -->
        <div class="routedElementMain">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>