<div class="mainComponents">
    <div class="sideBarMainComponent">
        <app-side-bar (dataToNavEvent)="recieveDataFromSideBar($event)"></app-side-bar>
    </div>
    <div class="navAndRouteMainComponent">
        <!-- <div class="navBarMain" *ngIf="!disablenavBarForWorldMap"> -->
        <div class="navBarMain">
            <app-nav-bar [dataFromAppComp]="disablenavBarForWorldMap"></app-nav-bar>
        </div>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>