<div class="navBarMainContainer" *ngIf="!dataFromAppComp">
    <div>
        <div class="navBarGrayHeading">Automated Guidance</div>
    </div>


    <div class="navBarRightElement">
        <!-- vessel DropDown  -->
        <div class="navbarDropDown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="navBarDropDownMain">
                <div class="navBarDropDownLeft">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 12H8L6.63938 10.0133L3 10V12Z" stroke="#003A78" stroke-width="0.6"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M18.9447 5.66406L19.3447 12.2708H18.6127L18.9447 5.66406Z" stroke="#003A78"
                            stroke-width="0.4" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M3.00105 13.3488C3.01707 14.1068 3.16028 16.0863 4.1684 17.7786C4.25036 17.9159 4.36908 17.9972 4.49439 17.9972L19.1017 18C19.2101 18 19.3147 17.9594 19.4089 17.8837C19.8385 17.5363 21.0577 16.3357 21.9848 13.3502C22.0357 13.1863 21.9527 13 21.8293 13L3.21115 13.0294C3.0915 13.0294 2.99634 13.1737 3.00011 13.346L3.00105 13.3488Z"
                            stroke="#003A78" stroke-width="0.6" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M21 19.1024L3.09 19.0813" stroke="#003A78" stroke-width="0.6" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M21.6562 19.9474L14.3443 19.9263" stroke="#003A78" stroke-width="0.6"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M12.7998 19.9521H10.1998" stroke="#003A78" stroke-width="0.6" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M8.6001 19.9519H4.9001" stroke="#003A78" stroke-width="0.6" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M14 10H17V12H14V10Z" stroke="#003A78" stroke-width="0.6" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M10 10H13V12H10V10Z" stroke="#003A78" stroke-width="0.6" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M12 7H15V9H12V7Z" stroke="#003A78" stroke-width="0.6" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M19.6001 7.77881H18.3471" stroke="#003A78" stroke-width="0.4" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M19.6001 8.55444H19.1201" stroke="#003A78" stroke-width="0.4" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M18.7539 9.45312H18.3469" stroke="#003A78" stroke-width="0.4" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>

                    <div>Torm Alice</div>
                </div>
                <div class="navBarDropDownRight">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 10L12 14L17 10" stroke="#1E2124" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
            <div class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </div>
        </div>

        <!-- user -->
        <div>
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M30.9314 32.5813C29.2756 28.1529 25.006 24.9999 20 24.9999C14.9939 24.9999 10.7243 28.1529 9.06859 32.5813M30.9314 32.5813C34.4452 29.5256 36.6666 25.0222 36.6666 19.9999C36.6666 10.7952 29.2047 3.33325 20 3.33325C10.7952 3.33325 3.33331 10.7952 3.33331 19.9999C3.33331 25.0222 5.55472 29.5256 9.06859 32.5813M30.9314 32.5813C28.0051 35.126 24.1824 36.6666 20 36.6666C15.8175 36.6666 11.9949 35.126 9.06859 32.5813"
                    stroke="#28303F" stroke-width="1.5" stroke-linejoin="round" />
                <circle cx="5" cy="5" r="5" transform="matrix(1 0 0 -1 15 20)" stroke="#28303F" stroke-width="1.5"
                    stroke-linejoin="round" />
            </svg>
        </div>
    </div>

</div>