<!-- desktop -->
<div class="navBarMainContainer" *ngIf="!dataFromAppComp">
    <!-- nav heading starts -->
    <div *ngIf="!(currentRoute.length > 1)">
        <div class="navBarGrayHeading">{{ currentRoute }}</div>
    </div>
    <!-- nav heading ends -->

    <!-- nested nav Bar starts -->
    <div *ngIf="currentRoute.length > 1" class="nestedNavFlexCol">
        <div class="nestedNavFlexStart">
            <div *ngFor="let ele of currentRoute , let last = last">
                <div *ngIf="!(last)" class="nestedNavUpperText">{{ele}} <svg width="18" height="18" viewBox="0 0 18 18"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7.50008 12.5628C7.35608 12.5628 7.21206 12.5081 7.10256 12.3978C6.88281 12.1781 6.88281 11.8218 7.10256 11.6021L9.70503 8.99959L7.10256 6.39711C6.88281 6.17736 6.88281 5.82109 7.10256 5.60134C7.32231 5.38159 7.67858 5.38159 7.89833 5.60134L10.8983 8.60134C11.1181 8.82109 11.1181 9.17736 10.8983 9.39711L7.89833 12.3971C7.78808 12.5081 7.64408 12.5628 7.50008 12.5628Z"
                            fill="#596069" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="nestedNavLowerText">{{ currentRoute[currentRoute.length - 1] }}</div>
    </div>
    <!-- nested nav Bar ends -->


    <div class="navBarRightElement">
        <!-- vessel DropDown  -->
        <div class="navbarDropDown">
            <div class="navBarDropDownMain dismissCursorPointer" (click)="dropDownToggleFunc()">
                <div class="navBarDropDownLeft">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 12H8L6.63938 10.0133L3 10V12Z" stroke="#003A78" stroke-width="0.6"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M18.9447 5.66406L19.3447 12.2708H18.6127L18.9447 5.66406Z" stroke="#003A78"
                            stroke-width="0.4" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M3.00105 13.3488C3.01707 14.1068 3.16028 16.0863 4.1684 17.7786C4.25036 17.9159 4.36908 17.9972 4.49439 17.9972L19.1017 18C19.2101 18 19.3147 17.9594 19.4089 17.8837C19.8385 17.5363 21.0577 16.3357 21.9848 13.3502C22.0357 13.1863 21.9527 13 21.8293 13L3.21115 13.0294C3.0915 13.0294 2.99634 13.1737 3.00011 13.346L3.00105 13.3488Z"
                            stroke="#003A78" stroke-width="0.6" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M21 19.1024L3.09 19.0813" stroke="#003A78" stroke-width="0.6" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M21.6562 19.9474L14.3443 19.9263" stroke="#003A78" stroke-width="0.6"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M12.7998 19.9521H10.1998" stroke="#003A78" stroke-width="0.6" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M8.6001 19.9519H4.9001" stroke="#003A78" stroke-width="0.6" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M14 10H17V12H14V10Z" stroke="#003A78" stroke-width="0.6" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M10 10H13V12H10V10Z" stroke="#003A78" stroke-width="0.6" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M12 7H15V9H12V7Z" stroke="#003A78" stroke-width="0.6" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M19.6001 7.77881H18.3471" stroke="#003A78" stroke-width="0.4" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M19.6001 8.55444H19.1201" stroke="#003A78" stroke-width="0.4" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M18.7539 9.45312H18.3469" stroke="#003A78" stroke-width="0.4" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>

                    <div class="navBarDropDownHeadingText">Torm Alice</div>
                </div>



                <div class="navBarDropDownNumber">+4</div>
                <div class="navBarDropDownRight" [ngClass]="{'rotateVesselArrowWorldMap': isNavDropDownOpen}">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 10L12 14L17 10" stroke="#1E2124" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
            <div class="navbarDropDownBodyMain" *ngIf="isNavDropDownOpen">

                <label class="navBarDropDownEle">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M9.53154 17.5856C9.20809 17.3269 9.15565 16.8549 9.41441 16.5315L13.0396 12L9.41441 7.46849C9.15565 7.14505 9.20809 6.67308 9.53154 6.41432C9.85498 6.15556 10.327 6.208 10.5857 6.53145L14.5857 11.5315C14.8048 11.8054 14.8048 12.1946 14.5857 12.4685L10.5857 17.4685C10.327 17.7919 9.85498 17.8444 9.53154 17.5856Z"
                            [style.fill]="navDropDownBlueArray[4] ? '#016BFF' : '#596069'" />
                    </svg>
                    <mat-checkbox [(ngModel)]="navDropDownBlueArray[4]" class="example-margin"><span
                            class="navBarDropDownEleText" [ngClass]="{'blurTextNavBar': navDropDownBlueArray[4]}">All
                            vessels</span></mat-checkbox>
                </label>

                <label class="navBarDropDownEle">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M9.53154 17.5856C9.20809 17.3269 9.15565 16.8549 9.41441 16.5315L13.0396 12L9.41441 7.46849C9.15565 7.14505 9.20809 6.67308 9.53154 6.41432C9.85498 6.15556 10.327 6.208 10.5857 6.53145L14.5857 11.5315C14.8048 11.8054 14.8048 12.1946 14.5857 12.4685L10.5857 17.4685C10.327 17.7919 9.85498 17.8444 9.53154 17.5856Z"
                            [style.fill]="navDropDownBlueArray[0] ? '#016BFF' : '#596069'" />
                    </svg>
                    <mat-checkbox [(ngModel)]="navDropDownBlueArray[0]" class="example-margin"><span
                            class="navBarDropDownEleText" [ngClass]="{'blurTextNavBar': navDropDownBlueArray[0]}">Active
                            Vessels</span></mat-checkbox>
                </label>

                <!-- lr1 nested starts -->
                <div>
                    <div class="nestedDropDownEleHead">
                        <svg (click)="nestedNavBarLR1OpenFunc()"
                            [ngClass]="{'rotateVesselForCheckBox' : isNestedNavBarLR1Open}" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M9.53154 17.5856C9.20809 17.3269 9.15565 16.8549 9.41441 16.5315L13.0396 12L9.41441 7.46849C9.15565 7.14505 9.20809 6.67308 9.53154 6.41432C9.85498 6.15556 10.327 6.208 10.5857 6.53145L14.5857 11.5315C14.8048 11.8054 14.8048 12.1946 14.5857 12.4685L10.5857 17.4685C10.327 17.7919 9.85498 17.8444 9.53154 17.5856Z"
                                [style.fill]="allCompleteTaskA ? '#016BFF' : '#596069'" />
                        </svg>
                        <label class="navBarDropDownEle">
                            <mat-checkbox [checked]="allCompleteTaskA" [color]="taskA.color"
                                [indeterminate]="someCompleteTaskA()" (change)="setAllTaskA($event.checked)"
                                [(ngModel)]="navDropDownBlueArray[1]" class="example-margin"><span
                                    class="navBarDropDownEleText" [ngClass]="{'blurTextNavBar': allCompleteTaskA}">LR
                                    1</span>
                            </mat-checkbox>
                        </label>
                    </div>

                    <!-- lr1 body starts -->
                    <div class="nestedDropDownBody" *ngIf="isNestedNavBarLR1Open">
                        <div class="flexNestedEleDropDownWorld">
                            <div *ngFor="let subtask of taskA.subtasks">

                                <mat-checkbox [(ngModel)]="subtask.completed" [color]="subtask.color"
                                    (ngModelChange)="updateAllCompleteTaskA()">
                                    <span class="navBarDropDownEleText"
                                        [ngClass]="{'blurTextNavBar' : subtask.completed}">{{subtask.name}}</span>
                                </mat-checkbox>

                            </div>
                        </div>
                    </div>
                    <!-- lr1 body ends -->

                </div>
                <!-- lr1 nested ends -->

                <!-- lr2 nested starts -->
                <div>
                    <div class="nestedDropDownEleHead">
                        <svg (click)="nestedNavBarLR2OpenFunc()"
                            [ngClass]="{'rotateVesselForCheckBox' : isNestedNavBarLR2Open}" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M9.53154 17.5856C9.20809 17.3269 9.15565 16.8549 9.41441 16.5315L13.0396 12L9.41441 7.46849C9.15565 7.14505 9.20809 6.67308 9.53154 6.41432C9.85498 6.15556 10.327 6.208 10.5857 6.53145L14.5857 11.5315C14.8048 11.8054 14.8048 12.1946 14.5857 12.4685L10.5857 17.4685C10.327 17.7919 9.85498 17.8444 9.53154 17.5856Z"
                                [style.fill]="allCompleteTaskB ? '#016BFF' : '#596069'" />
                        </svg>
                        <label class="navBarDropDownEle">
                            <mat-checkbox [checked]="allCompleteTaskB" [color]="taskB.color"
                                [indeterminate]="someCompleteTaskB()" (change)="setAllTaskB($event.checked)"
                                [(ngModel)]="navDropDownBlueArray[2]" class="example-margin"><span
                                    class="navBarDropDownEleText" [ngClass]="{'blurTextNavBar': allCompleteTaskB}">LR
                                    2</span>
                            </mat-checkbox>
                        </label>
                    </div>

                    <!-- lr 2 body starts -->
                    <div class="nestedDropDownBody" *ngIf="isNestedNavBarLR2Open">
                        <div class="flexNestedEleDropDownWorld">
                            <div *ngFor="let subtask of taskB.subtasks">

                                <mat-checkbox [(ngModel)]="subtask.completed" [color]="subtask.color"
                                    (ngModelChange)="updateAllCompleteTaskB()">
                                    <span class="navBarDropDownEleText"
                                        [ngClass]="{'blurTextNavBar' : subtask.completed}">{{subtask.name}}</span>
                                </mat-checkbox>

                            </div>
                        </div>
                    </div>
                    <!-- lr 2 body starts -->

                </div>
                <!-- lr2 nested ends -->
                <label class="navBarDropDownEle">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M9.53154 17.5856C9.20809 17.3269 9.15565 16.8549 9.41441 16.5315L13.0396 12L9.41441 7.46849C9.15565 7.14505 9.20809 6.67308 9.53154 6.41432C9.85498 6.15556 10.327 6.208 10.5857 6.53145L14.5857 11.5315C14.8048 11.8054 14.8048 12.1946 14.5857 12.4685L10.5857 17.4685C10.327 17.7919 9.85498 17.8444 9.53154 17.5856Z"
                            [style.fill]="navDropDownBlueArray[3] ? '#016BFF' : '#596069'" />
                    </svg>
                    <mat-checkbox [(ngModel)]="navDropDownBlueArray[3]" class="example-margin"><span
                            class="navBarDropDownEleText"
                            [ngClass]="{'blurTextNavBar': navDropDownBlueArray[3]}">Sold</span></mat-checkbox>
                </label>

            </div>
        </div>

        <!-- user -->
        <div class="userFlexNavBar">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M30.9314 32.5813C29.2756 28.1529 25.006 24.9999 20 24.9999C14.9939 24.9999 10.7243 28.1529 9.06859 32.5813M30.9314 32.5813C34.4452 29.5256 36.6666 25.0222 36.6666 19.9999C36.6666 10.7952 29.2047 3.33325 20 3.33325C10.7952 3.33325 3.33331 10.7952 3.33331 19.9999C3.33331 25.0222 5.55472 29.5256 9.06859 32.5813M30.9314 32.5813C28.0051 35.126 24.1824 36.6666 20 36.6666C15.8175 36.6666 11.9949 35.126 9.06859 32.5813"
                    stroke="#28303F" stroke-width="1.5" stroke-linejoin="round" />
                <circle cx="5" cy="5" r="5" transform="matrix(1 0 0 -1 15 20)" stroke="#28303F" stroke-width="1.5"
                    stroke-linejoin="round" />
            </svg>
            <div class="relativeDropDownNav">
                <svg (click)="userDropDownFunc()" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 10L12 14L17 10" stroke="#1E2124" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
                <div class="relativeDropDownNavBody" *ngIf="isUserDropDown">
                    <div class="userDropDownEle">Option 1</div>
                    <div class="userDropDownEle">Option 2</div>
                    <div class="userDropDownEle">Option 2</div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- mobile -->
<div class="mobileNavBarContainer">

    <!-- blue navBar -->
    <div class="mobileUpperNavBarContainer">
        <svg (click)="toggleSideBar()" width="32" height="32" viewBox="0 0 32 32" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M8.33337 10.6667C8.33337 10.1145 8.78109 9.66675 9.33337 9.66675H22.6667C23.219 9.66675 23.6667 10.1145 23.6667 10.6667C23.6667 11.219 23.219 11.6667 22.6667 11.6667H9.33337C8.78109 11.6667 8.33337 11.219 8.33337 10.6667ZM8.33337 16.0001C8.33337 15.4478 8.78109 15.0001 9.33337 15.0001H22.6667C23.219 15.0001 23.6667 15.4478 23.6667 16.0001C23.6667 16.5524 23.219 17.0001 22.6667 17.0001H9.33337C8.78109 17.0001 8.33337 16.5524 8.33337 16.0001ZM9.33337 20.3334C8.78109 20.3334 8.33337 20.7811 8.33337 21.3334C8.33337 21.8857 8.78109 22.3334 9.33337 22.3334H22.6667C23.219 22.3334 23.6667 21.8857 23.6667 21.3334C23.6667 20.7811 23.219 20.3334 22.6667 20.3334H9.33337Z"
                fill="white" />
        </svg>

        <div class="mobileUpperNavBarLeft">
            <div class="navbarDropDown" [ngClass]="{'blueBgNavBarDropDown':isNavDropDownOpen}">
                <div class="navBarDropDownMain" (click)="dropDownToggleFunc()">
                    <div class="navBarDropDownLeft">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 12H8L6.63938 10.0133L3 10V12Z" stroke="#003A78" stroke-width="0.6"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M18.9447 5.66406L19.3447 12.2708H18.6127L18.9447 5.66406Z" stroke="#003A78"
                                stroke-width="0.4" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M3.00105 13.3488C3.01707 14.1068 3.16028 16.0863 4.1684 17.7786C4.25036 17.9159 4.36908 17.9972 4.49439 17.9972L19.1017 18C19.2101 18 19.3147 17.9594 19.4089 17.8837C19.8385 17.5363 21.0577 16.3357 21.9848 13.3502C22.0357 13.1863 21.9527 13 21.8293 13L3.21115 13.0294C3.0915 13.0294 2.99634 13.1737 3.00011 13.346L3.00105 13.3488Z"
                                stroke="#003A78" stroke-width="0.6" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M21 19.1024L3.09 19.0813" stroke="#003A78" stroke-width="0.6"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M21.6562 19.9474L14.3443 19.9263" stroke="#003A78" stroke-width="0.6"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M12.7998 19.9521H10.1998" stroke="#003A78" stroke-width="0.6"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M8.6001 19.9519H4.9001" stroke="#003A78" stroke-width="0.6" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M14 10H17V12H14V10Z" stroke="#003A78" stroke-width="0.6" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M10 10H13V12H10V10Z" stroke="#003A78" stroke-width="0.6" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M12 7H15V9H12V7Z" stroke="#003A78" stroke-width="0.6" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M19.6001 7.77881H18.3471" stroke="#003A78" stroke-width="0.4"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M19.6001 8.55444H19.1201" stroke="#003A78" stroke-width="0.4"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M18.7539 9.45312H18.3469" stroke="#003A78" stroke-width="0.4"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                        <div class="navBarDropDownHeadingText">Torm Alice</div>
                    </div>

                    <div class="navBarDropDownNumber" [ngClass]="{'blueBgNavBarDropDownText':isNavDropDownOpen}">+4
                    </div>

                    <div class="navBarDropDownRight" [ngClass]="{'rotateVesselArrowWorldMap': isNavDropDownOpen}">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 10L12 14L17 10" stroke="#1E2124" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
                <div class="navbarDropDownBodyMain" *ngIf="isNavDropDownOpen">

                    <label class="navBarDropDownEle">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M9.53154 17.5856C9.20809 17.3269 9.15565 16.8549 9.41441 16.5315L13.0396 12L9.41441 7.46849C9.15565 7.14505 9.20809 6.67308 9.53154 6.41432C9.85498 6.15556 10.327 6.208 10.5857 6.53145L14.5857 11.5315C14.8048 11.8054 14.8048 12.1946 14.5857 12.4685L10.5857 17.4685C10.327 17.7919 9.85498 17.8444 9.53154 17.5856Z"
                                [style.fill]="navDropDownBlueArray[4] ? '#016BFF' : '#596069'" />
                        </svg>
                        <mat-checkbox [(ngModel)]="navDropDownBlueArray[4]" class="example-margin"><span
                                class="navBarDropDownEleText"
                                [ngClass]="{'blurTextNavBar': navDropDownBlueArray[4]}">All
                                vessels</span></mat-checkbox>
                    </label>

                    <label class="navBarDropDownEle">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M9.53154 17.5856C9.20809 17.3269 9.15565 16.8549 9.41441 16.5315L13.0396 12L9.41441 7.46849C9.15565 7.14505 9.20809 6.67308 9.53154 6.41432C9.85498 6.15556 10.327 6.208 10.5857 6.53145L14.5857 11.5315C14.8048 11.8054 14.8048 12.1946 14.5857 12.4685L10.5857 17.4685C10.327 17.7919 9.85498 17.8444 9.53154 17.5856Z"
                                [style.fill]="navDropDownBlueArray[0] ? '#016BFF' : '#596069'" />
                        </svg>
                        <mat-checkbox [(ngModel)]="navDropDownBlueArray[0]" class="example-margin"><span
                                class="navBarDropDownEleText"
                                [ngClass]="{'blurTextNavBar': navDropDownBlueArray[0]}">Active
                                Vessels</span></mat-checkbox>
                    </label>

                    <!-- lr1 nested starts -->
                    <div>
                        <div class="nestedDropDownEleHead">
                            <svg (click)="nestedNavBarLR1OpenFunc()"
                                [ngClass]="{'rotateVesselForCheckBox' : isNestedNavBarLR1Open}" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M9.53154 17.5856C9.20809 17.3269 9.15565 16.8549 9.41441 16.5315L13.0396 12L9.41441 7.46849C9.15565 7.14505 9.20809 6.67308 9.53154 6.41432C9.85498 6.15556 10.327 6.208 10.5857 6.53145L14.5857 11.5315C14.8048 11.8054 14.8048 12.1946 14.5857 12.4685L10.5857 17.4685C10.327 17.7919 9.85498 17.8444 9.53154 17.5856Z"
                                    [style.fill]="allCompleteTaskA ? '#016BFF' : '#596069'" />
                            </svg>
                            <label class="navBarDropDownEle">
                                <mat-checkbox [checked]="allCompleteTaskA" [color]="taskA.color"
                                    [indeterminate]="someCompleteTaskA()" (change)="setAllTaskA($event.checked)"
                                    [(ngModel)]="navDropDownBlueArray[1]" class="example-margin"><span
                                        class="navBarDropDownEleText"
                                        [ngClass]="{'blurTextNavBar': allCompleteTaskA}">LR 1</span>
                                </mat-checkbox>
                            </label>
                        </div>

                        <!-- lr1 body starts -->
                        <div class="nestedDropDownBody" *ngIf="isNestedNavBarLR1Open">
                            <div class="flexNestedEleDropDownWorld">
                                <div *ngFor="let subtask of taskA.subtasks">

                                    <mat-checkbox [(ngModel)]="subtask.completed" [color]="subtask.color"
                                        (ngModelChange)="updateAllCompleteTaskA()">
                                        <span class="navBarDropDownEleText"
                                            [ngClass]="{'blurTextNavBar' : subtask.completed}">{{subtask.name}}</span>
                                    </mat-checkbox>

                                </div>
                            </div>
                        </div>
                        <!-- lr1 body ends -->

                    </div>
                    <!-- lr1 nested ends -->

                    <!-- lr2 nested starts -->
                    <div>
                        <div class="nestedDropDownEleHead">
                            <svg (click)="nestedNavBarLR2OpenFunc()"
                                [ngClass]="{'rotateVesselForCheckBox' : isNestedNavBarLR2Open}" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M9.53154 17.5856C9.20809 17.3269 9.15565 16.8549 9.41441 16.5315L13.0396 12L9.41441 7.46849C9.15565 7.14505 9.20809 6.67308 9.53154 6.41432C9.85498 6.15556 10.327 6.208 10.5857 6.53145L14.5857 11.5315C14.8048 11.8054 14.8048 12.1946 14.5857 12.4685L10.5857 17.4685C10.327 17.7919 9.85498 17.8444 9.53154 17.5856Z"
                                    [style.fill]="allCompleteTaskB ? '#016BFF' : '#596069'" />
                            </svg>
                            <label class="navBarDropDownEle">
                                <mat-checkbox [checked]="allCompleteTaskB" [color]="taskB.color"
                                    [indeterminate]="someCompleteTaskB()" (change)="setAllTaskB($event.checked)"
                                    [(ngModel)]="navDropDownBlueArray[2]" class="example-margin"><span
                                        class="navBarDropDownEleText"
                                        [ngClass]="{'blurTextNavBar': allCompleteTaskB}">LR 2</span>
                                </mat-checkbox>
                            </label>
                        </div>

                        <!-- lr 2 body starts -->
                        <div class="nestedDropDownBody" *ngIf="isNestedNavBarLR2Open">
                            <div class="flexNestedEleDropDownWorld">
                                <div *ngFor="let subtask of taskB.subtasks">

                                    <mat-checkbox [(ngModel)]="subtask.completed" [color]="subtask.color"
                                        (ngModelChange)="updateAllCompleteTaskB()">
                                        <span class="navBarDropDownEleText"
                                            [ngClass]="{'blurTextNavBar' : subtask.completed}">{{subtask.name}}</span>
                                    </mat-checkbox>

                                </div>
                            </div>
                        </div>
                        <!-- lr 2 body starts -->

                    </div>
                    <!-- lr2 nested ends -->

                    <label class="navBarDropDownEle">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M9.53154 17.5856C9.20809 17.3269 9.15565 16.8549 9.41441 16.5315L13.0396 12L9.41441 7.46849C9.15565 7.14505 9.20809 6.67308 9.53154 6.41432C9.85498 6.15556 10.327 6.208 10.5857 6.53145L14.5857 11.5315C14.8048 11.8054 14.8048 12.1946 14.5857 12.4685L10.5857 17.4685C10.327 17.7919 9.85498 17.8444 9.53154 17.5856Z"
                                [style.fill]="navDropDownBlueArray[3] ? '#016BFF' : '#596069'" />
                        </svg>
                        <mat-checkbox [(ngModel)]="navDropDownBlueArray[3]" class="example-margin"><span
                                class="navBarDropDownEleText"
                                [ngClass]="{'blurTextNavBar': navDropDownBlueArray[3]}">Sold</span></mat-checkbox>
                    </label>

                </div>
            </div>

            
            <div class="userFlexNavBar">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M18.5588 19.5488C17.5654 16.8918 15.0036 15 12 15C8.99638 15 6.4346 16.8918 5.44117 19.5488M18.5588 19.5488C20.6672 17.7154 22 15.0134 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 15.0134 3.33285 17.7154 5.44117 19.5488M18.5588 19.5488C16.8031 21.0756 14.5095 22 12 22C9.49052 22 7.19694 21.0756 5.44117 19.5488"
                        stroke="white" stroke-width="1.5" stroke-linejoin="round" />
                    <circle cx="3" cy="3" r="3" transform="matrix(1 0 0 -1 9 12)" stroke="white" stroke-width="1.5"
                        stroke-linejoin="round" />
                </svg>
                <div class="relativeDropDownNav">
                    <svg (click)="userDropDownMobileFunc()" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 10L12 14L17 10" stroke="#fff" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                    <div class="relativeDropDownNavBody" *ngIf="isUserDropDownMobile">
                        <div class="userDropDownEle">Option 1</div>
                        <div class="userDropDownEle">Option 2</div>
                        <div class="userDropDownEle">Option 2</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- white navBar -->
    <div class="mobileLowerNavBarContainer">
        <!-- <div class="lowerNavbarText">{{ currentRoute }}</div> -->

        <div class="mobileNavFlexStart">

            <div *ngFor="let ele of currentRoute , let last = last">
                <div *ngIf="!(last)" class="mobileNavPastRoute">
                    {{ele}}
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7.50002 12.5625C7.35602 12.5625 7.212 12.5078 7.1025 12.3975C6.88275 12.1778 6.88275 11.8215 7.1025 11.6018L9.70497 8.99929L7.1025 6.39681C6.88275 6.17706 6.88275 5.82078 7.1025 5.60103C7.32225 5.38128 7.67852 5.38128 7.89827 5.60103L10.8983 8.60103C11.118 8.82078 11.118 9.17706 10.8983 9.39681L7.89827 12.3968C7.78802 12.5078 7.64402 12.5625 7.50002 12.5625Z"
                            fill="#596069" />
                    </svg>
                </div>
            </div>

            <div class="lowerNavbarText">{{ currentRoute[currentRoute.length - 1] }}</div>

        </div>
    </div>

</div>