body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
}
ul{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Futura';
    src: url('./assets/fonts/futura/Futura Bold font.ttf');
}

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~bootstrap/dist/css/bootstrap.css";



.mainComponents {
    display: flex;
}

.navAndRouteMainComponent {
    width: 100%;
}

.sideBarMainContainerForDesktopFull {
    width: 192px;
}

.sideBarMainContainer {
    height: 100vh;
    width: 100%;
    background: linear-gradient(178.49deg, #016bff -68.27%, #003a78 91.36%);
}

.navBarGrayHeading {
    font-size: 24px;
    font-weight: 600;
    color: #596069;
}

.navbarDropDown {
    border: 1px solid #DEE0E2;
    border-radius: 8px;
    width: 230px;
}

.navBarDropDownMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.navBarDropDownLeft {
    display: flex;
    align-items: center;
    gap: 8px;
}

.navBarRightElement {
    display: flex;
    align-items: center;
    gap: 24px;
}

.navBarMainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 48px 12px 24px;
}

.logoImgDesk {
    width: 35px;
    height: 26px;
}

.logoTextDesktop{
    color: white;
    font-weight: 700;
    font-size: 24px;
    line-height: 31.9px;
    margin-bottom: 0px;
    font-family: "Futura";
    letter-spacing: 2px;
}

.logoSection{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 20px 23.5px;
    border-bottom: 1px solid #EDEEEF;
}

.sideBarUpperComponent{
    position: relative;
    height: 72px;
}

.sideBarToggleButton{
    position: absolute;
    background-color: blue;
    top: 22px;
    right: -20px;
    z-index: 2;
}

.sideBarMainContainerForDesktopHalf{
    width: 72px;
}

.halfSideBarUpperComponent{
    position: relative;
}

.sideBarLowerComponent > ul > li {
    list-style: none;
}

.sideBarLowerComponent{
    margin-top: 40px;
    margin-left: 16px;
}

.sideBarListElement{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    /* background-color: #FFFFFF; */
    padding: 12px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    text-decoration: none;
}

.sideBarListElement:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.sideBarListElementText{
    font-size: 16px;
    font-weight: 400;
    color: #EDEEEF;
}

.sideBarRadioLabel{
    width: 100%;
}

.sidebarRadioInput{
    display: none;
}

.sideBarRadioLabel input[type="radio"]:checked + a{
    background-color: #fff;
}

.sideBarRadioLabel input[type="radio"]:checked + a > div , .sideBarRadioLabel input[type="radio"]:checked + a > svg{
    color: #00479E;
    font-weight: 600;
}

.sideBarFlexColumnElement{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
