body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Futura';
    src: url('./assets/fonts/futura/Futura Bold font.ttf');
}

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~bootstrap/dist/css/bootstrap.css";


.mainComponents {
    display: flex;
}

.navAndRouteMainComponent {
    width: 100%;
}

.sideBarMainContainerForDesktopFull {
    position: relative;
    width: 192px;
    height: 100vh;
}

.sideBarMainContainer {
    height: 100vh;
    width: 100%;
    background: linear-gradient(157deg, #016BFF 0%, #003A78 91.86%);
}

.navBarGrayHeading {
    font-size: 24px;
    font-weight: 600;
    color: #596069;
}

.navbarDropDown {
    border: 1px solid #DEE0E2;
    border-radius: 8px;
    width: 230px;
}

.navBarDropDownMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.navBarDropDownLeft {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.navBarRightElement {
    display: flex;
    align-items: center;
    gap: 24px;
}

.navBarMainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 48px 12px 24px;
    box-shadow: 0px 1px 2px 0px rgba(158, 158, 158, 0.24);
    height: 72px;
}

.logoImgDesk {
    width: 35px;
    height: 26px;
    margin-top: 8px;
}

.logoTextDesktop {
    color: white;
    font-weight: 700;
    font-size: 24px;
    line-height: 31.9px;
    margin-bottom: 0px;
    font-family: "Futura";
    letter-spacing: 2px;
}

.logoSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 20px 23.5px;
    border-bottom: 1px solid #EDEEEF;
}

.logoSectionHalfSideBar {
    padding: 0;
}

.sideBarUpperComponent {
    height: 72px;
}

.sideBarMainContainerForDesktopHalf {
    width: 62px;
}

.halfSideBarUpperComponent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    border-bottom: 1px solid #EDEEEF;
}

.sideBarLowerComponent {
    margin-top: 40px;
    margin-left: 16px;
}

.sideBarListElement {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-start;
    cursor: pointer;
    padding: 12px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    text-decoration: none;
}

.sideBarListElement:hover,
.halfSideBarBottomElement:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.sideBarListElementText {
    font-size: 16px;
    font-weight: 400;
    color: #EDEEEF;
}

.sideBarRadioLabel {
    width: 100%;
}

.sidebarRadioInput {
    display: none;
}

.activeSideBarElement {
    background-color: #fff !important;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.activeSideBarElement div {
    color: #00479E;
    font-size: 16px;
    font-weight: 600;
}

.numbersOnGuidance {
    background-color: #fff;
    font-size: 12px;
    font-weight: 600;
    color: #00479E;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    width: 24px;
    height: 24px;

}

.sideBarFlexColumnElement {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.activeGuidanceNumber {
    background-color: #00479E;
    color: #EDEEEF !important;
    font-size: 12px !important;
    font-weight: 600 !important;
}

.logoImgDeskHalf {
    width: 32px;
    height: 24px;
}

.halfSideBarBottomComponent {
    margin-top: 40px;
}

.halfSideBarBottomComponentMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
    gap: 4px;
}

.halfSideBarBottomElement {
    padding: 0px 16px;
    border-radius: 12px;
    height: 48px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.halfSideBarListElement {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.halfSideBarActiveElement {
    background-color: #fff !important;
}

.shipImgOnFullSideBarImg {
    position: absolute;
    bottom: 64px;
}

.toggleSideBar {
    position: absolute;
    bottom: 16px;
    right: 16px;
    cursor: pointer;
}

.toggleHalfSideBar {
    position: absolute;
    bottom: 20px;
    left: 18px;
    cursor: pointer;
}

.relativeEle {
    position: relative;
}

.arrowOnSideBar {
    position: absolute;
    right: 16px;
}

.sensorDropDownMenu {
    margin-top: 16px;
    margin-left: 12px;
}

.sensorDropDownMenuMain {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.mainMenuSensor {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    margin-top: 26px;
    margin-bottom: 16px;
}

.sidebarMainMenuText {
    font-size: 16px;
    font-weight: 400;
    color: #EDEEEF;
}

.sensorFirstList {
    background-color: #003A78;
    color: #E1EFFF;
    cursor: auto;
}

.sensorFirstList:hover {
    background-color: #003A78;
}

.sensorMenuList {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.sensorDropDownListElement {
    color: #EDEEEF;
    padding-left: 36px !important;
}


.sensorMenuText {
    color: #00479E;
    font-size: 16px;
    font-weight: 600;
}

.displaySideNav {
    display: none;
}

.worldMapMain {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.worldMapMainDesktop {
    width: 100%;
    height: 100%;
    position: relative;
}

.worldMapMainCoverImage {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.worldMapNavBarDropDownBtn {
    position: absolute;
    top: 14px;
    left: 8px;
    width: 46px;
    height: 80px;
    background: linear-gradient(157deg, #016BFF 0%, #003A78 91.86%);
    border-radius: 4px;
}

.WorldMapDropDownLogo {
    height: 58px;
    border-bottom: 1px solid #EDEEEF;
    display: flex;
    justify-content: center;
    position: relative;
}

.dropDownSvgWorldMap {
    position: absolute;
    bottom: 10px;
    z-index: 2;
    left: 10px;
    rotate: 180deg;
}

.worldMapSideBarMain {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    background: linear-gradient(157deg, #016BFF 0%, #003A78 91.86%);
    animation: expandDropdown 0.3s ease forwards;
    width: 60px;
}

@keyframes expandDropdown {
    from {
        height: 0;
    }

    to {
        height: 100vh;
    }
}

.worldMapSideBarLogoSection {
    height: 72px;
    border-bottom: 1px solid #EDEEEF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.worldMapSideBarCollpsBtn {
    position: absolute;
    top: 58px;
    left: 18px;
}

.worldmapSideBarList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin-top: 40px;
}

.worldMapSideBarEle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 48px;
    border-radius: 12px;
    cursor: pointer;
}

.worldMapSideBarEle:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.worldMapActiveEle {
    background: #FFF !important;
}

.vesselDropDownOnWorldMap {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.vesselDropDownOnWorldMain {
    background: rgba(255, 255, 255, 0.60);
    width: 250px !important;
    cursor: pointer;
}

.dropDownVesselMenu {
    width: 230px !important;
    padding: 8px 16px;
    background-color: #FFFFFF;
}

.vesselDropDownOnWorldMainMenu {
    width: 250px !important;
    border-radius: 8px;
}

.rotateVesselArrowWorldMap {
    rotate: 180deg;
}

.vesselDropDownOnWorldMapEle {
    display: flex;
    align-items: center;
    gap: 4px;
}

mat-checkbox .mdc-form-field label {
    font-size: 16px !important;
    font-weight: 400 !important;
    color: #596069 !important;
}

.vesselCheckBoxText {
    font-size: 16px !important;
    font-weight: 400 !important;
    color: #596069 !important;
}

.mat-mdc-checkbox.mat-mdc-checkbox-checked .mdc-checkbox__background,
.mdc-checkbox__ripple,
.mdc-checkbox-selected-icon-color {
    background-color: #016BFF !important;
    border-color: #016BFF !important;
}

.blueTextForVesselDropDownEle {
    color: #016BFF !important;
}

/* .mat-mdc-checkbox .example-margin .mat-accent .mdc-checkbox .mat-mdc-checkbox-touch-target .mdc-checkbox__native-control .mdc-checkbox__ripple .mdc-checkbox__background .mat-ripple .mat-mdc-checkbox-ripple .mat-mdc-focus-indicator .mdc-checkbox{
    background-color: #016BFF !important;
    border-color: #016BFF !important;
} */

.mat-mdc-checkbox.mat-accent {
    --mdc-checkbox-selected-icon-color: #016BFF !important;
}

.nestedVesselOfLR {
    margin-left: 56px;
}

.flexNestedEleDropDownWorld {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.rotateVesselForCheckBox {
    rotate: 90deg;
}

.WorldMapDropDownActiveText {
    font-size: 18px;
    font-weight: 400;
    color: #1E2124;
}

.numberOnDropDownForWorldMap {
    color: #003A78;
    font-size: 12px;
    font-weight: 600;
    width: 24px;
    height: 24px;
    border-radius: 40px;
    background-color: #E1EFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shipOnWorldMap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 30px;
    left: 300px;
    cursor: pointer;
}

.shipOnWorldMapText {
    background-color: #1E2124;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    border-radius: 6px;
}

.vesselSideBarMain {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(2px);
}

.vesselSideBarMainContent {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.accordionWorldMapEle {
    width: 392px;
}

.firstAccordionWorldMapHead {
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
}

.dropDownOnShipSideBar{
    background: rgba(255, 255, 255, 0.60);
}

.firstAccordionWorldMapHeadRight , .firstAccordionWorldMapHeadLeft{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.accordionWorldMapSideBarBody{
    width: 100% !important;
    background: rgba(255, 255, 255, 0.60);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.loacationAtWorldMapSidebar{
    width: 296px;
    padding: 12px 16px;
    display: flex;
    align-items: flex-end;
    gap: 16px;
    background: #F4F5F6;
    backdrop-filter: blur(4px);
    border-radius: 8px;
}

.loacationAtWorldMapSidebarText{
    font-size: 16px;
    font-weight: 600;
    color: #596069;
}
.secondWorldMapEle{
    display: flex;
    justify-content: space-between;
    width: 392px;
}

.borderBottomZeroAccordion , .borderBottomZeroAccordion > div {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    background-color: #F1F1F1 !important;
    font-weight: 600;
    color: #1E2124;
}

.voyageInfoAccordion{
    display: flex;
    flex-direction: column;
}

.actualAccordionWorldMapEleHead{
    background: rgba(255, 255, 255, 0.60);
    padding: 16px;
    display: flex;
    gap: 8px;
    border-radius: 8px;
}

.actualAccordionHeadText{
    font-size: 16px;
    font-weight: 400;
    color: #596069;
}

.actualAccordionWorldMapEleBody{
    background: rgba(255, 255, 255, 0.60);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.HeadWhiteeActive{
    background-color: #F1F1F1;
}


.voyageInfoAccordion{
    display: flex;
    flex-direction: column;
    /* gap: 8px; */
}
.voyageAccordionFlexEle{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px 16px;
}

.voyageAccordionLeftEle{
    color: #596069;
    font-size: 16px;
    font-weight: 400;
}
.voyageAccordionRightEle{
    font-size: 16px;
    font-weight: 600;
    color: #596069;
}
.flexSelfCrewDetails{
    justify-self: flex-end;
}
.crewDetailsFlexBetween{
    justify-content: space-between;
}
.crewDetailsFlexHead{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sixCrewText{
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #003A78 !important;
    padding: 4px 8px !important;
    background-color: #A8CCFF !important;
    margin: 0 !important;
    border-radius: 4px;
}
.textBoldCrew{
    font-weight: 600;
}