body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Futura';
    src: url('./assets/fonts/futura/Futura Bold font.ttf');
}

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~bootstrap/dist/css/bootstrap.css";


.mainComponents {
    display: flex;
}

.navAndRouteMainComponent {
    width: 100%;
}

.sideBarMainContainerForDesktopFull {
    position: relative;
    width: 192px;
    height: 100vh;
}

.sideBarMainContainer {
    height: 100vh;
    width: 100%;
    background: linear-gradient(157deg, #016BFF 0%, #003A78 91.86%);
}

.navBarGrayHeading {
    font-size: 24px;
    font-weight: 600;
    color: #596069;
}

.navbarDropDown {
    border: 1px solid #DEE0E2;
    border-radius: 8px;
    width: 230px;
}

.navBarDropDownMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.navBarDropDownLeft {
    display: flex;
    align-items: center;
    gap: 8px;
}

.navBarRightElement {
    display: flex;
    align-items: center;
    gap: 24px;
}

.navBarMainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 48px 12px 24px;
    box-shadow: 0px 1px 2px 0px rgba(158, 158, 158, 0.24);
    height: 72px;
}

.logoImgDesk {
    width: 35px;
    height: 26px;
}

.logoTextDesktop {
    color: white;
    font-weight: 700;
    font-size: 24px;
    line-height: 31.9px;
    margin-bottom: 0px;
    font-family: "Futura";
    letter-spacing: 2px;
}

.logoSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 20px 23.5px;
    border-bottom: 1px solid #EDEEEF;
}

.logoSectionHalfSideBar {
    padding: 0;
}

.sideBarUpperComponent {
    height: 72px;
}

.sideBarMainContainerForDesktopHalf {
    width: 62px;
}

.halfSideBarUpperComponent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    border-bottom: 1px solid #EDEEEF;
}

.sideBarLowerComponent {
    margin-top: 40px;
    margin-left: 16px;
}

.sideBarListElement {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-start;
    cursor: pointer;
    padding: 12px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    text-decoration: none;
}

.sideBarListElement:hover,
.halfSideBarBottomElement:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.sideBarListElementText {
    font-size: 16px;
    font-weight: 400;
    color: #EDEEEF;
}

.sideBarRadioLabel {
    width: 100%;
}

.sidebarRadioInput {
    display: none;
}

.activeSideBarElement {
    background-color: #fff;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.activeSideBarElement div {
    color: #00479E;
    font-size: 16px;
    font-weight: 600;
}

.numbersOnGuidance {
    background-color: #fff;
    font-size: 12px;
    font-weight: 600;
    color: #00479E;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    width: 24px;
    height: 24px;

}

.sideBarFlexColumnElement {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.activeGuidanceNumber {
    background-color: #00479E;
    color: #EDEEEF !important;
    font-size: 12px !important;
    font-weight: 600 !important;
}

.logoImgDeskHalf {
    width: 32px;
    height: 24px;
}

.halfSideBarBottomComponent {
    margin-top: 40px;
}

.halfSideBarBottomComponentMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
    gap: 4px;
}

.halfSideBarBottomElement {
    padding: 0px 16px;
    border-radius: 12px;
    height: 48px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.halfSideBarListElement {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.halfSideBarActiveElement {
    background-color: #fff !important;
}

.shipImgOnFullSideBarImg {
    position: absolute;
    bottom: 64px;
}

.toggleSideBar {
    position: absolute;
    bottom: 16px;
    right: 16px;
    cursor: pointer;
}

.toggleHalfSideBar {
    position: absolute;
    bottom: 20px;
    left: 18px;
    cursor: pointer;
}

.relativeEle {
    position: relative;
}

.arrowOnSideBar {
    position: absolute;
    right: 16px;
}

.sensorDropDownMenu {
    margin-top: 16px;
    margin-left: 12px;
}

.sensorDropDownMenuMain {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.mainMenuSensor {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    margin-top: 26px;
    margin-bottom: 16px;
}

.sidebarMainMenuText {
    font-size: 16px;
    font-weight: 400;
    color: #EDEEEF;
}

.sensorFirstList {
    background-color: #003A78;
    color: #E1EFFF;
    cursor: auto;
}

.sensorFirstList:hover {
    background-color: #003A78;
}

.sensorMenuList {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.sensorDropDownListElement {
    color: #EDEEEF;
    padding-left: 36px !important;
}

.displaySideNav{
    display: none;
}