<div class="container-fluid performance-container">
    <div class="row">
      <div class="col-md-6 mb-2 ps-0 borderDividerInPerformance">
        <div class="ae-graph">
          <img
            class="w-100 mb-4"
            src="./assets/images/Offgraph.svg"
            alt="Graph1"
          />
        </div>
        <div class="ae-sfoc-graph">
          <img
            class="w-100"
            src="./assets/images/AESFOC.svg"
            alt="Graph2"
          />
        </div>
      </div>
      <!-- <div class="performanceDividerInBetween"></div> -->
  
      <div class="col-md-6 pe-0 tabs-group">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item tab" role="presentation">
            <button
              class="nav-link active"
              id="pills-group-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills-group"
              type="button"
              role="tab"
              aria-controls="pills-group"
              aria-selected="true"
            >
              Group
            </button>
          </li>
          <li class="nav-item tab" role="presentation">
            <button
              class="nav-link"
              id="pills-details-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills-details"
              type="button"
              role="tab"
              aria-controls="pills-details"
              aria-selected="false"
            >
              Details
            </button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="pills-group"
            role="tabpanel"
            aria-labelledby="pills-group-tab"
            tabindex="0"
          >
            <ul class="nav nav-pills mb-3" id="pills-semi-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link active"
                  id="pills-fuel-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#pills-fuel"
                  type="button"
                  role="tab"
                  aria-controls="pills-fuel"
                  aria-selected="true"
                >
                  Fuel
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="pills-ecpower-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#pills-ecpower"
                  type="button"
                  role="tab"
                  aria-controls="pills-ecpower"
                  aria-selected="false"
                >
                  Electric Power
                </button>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div
                class="tab-pane fade show active"
                id="pills-fuel"
                role="tabpanel"
                aria-labelledby="pills-fuel-tab"
                tabindex="0"
              >
                <img
                  class="w-100"
                  src="./assets/images/Fuel-graph.svg"
                  alt="Graph1"
                />
              </div>
              <div
                class="tab-pane fade"
                id="pills-ecpower"
                role="tabpanel"
                aria-labelledby="pills-ecpower-tab"
                tabindex="0"
              >
                <img
                  class="w-100"
                  src="./assets/images/Electric_power.svg"
                  alt="Graph1"
                />
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="pills-details"
            role="tabpanel"
            aria-labelledby="pills-details-tab"
            tabindex="0"
          >
            <ul class="nav nav-pills mb-3" id="pills-semi-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link active"
                  id="pills-fuel-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#pills-fuel"
                  type="button"
                  role="tab"
                  aria-controls="pills-fuel"
                  aria-selected="true"
                >
                  Fuel
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="pills-ecpower-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#pills-ecpower"
                  type="button"
                  role="tab"
                  aria-controls="pills-ecpower"
                  aria-selected="false"
                >
                  Electric Power
                </button>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div
                class="tab-pane fade show active"
                id="pills-fuel"
                role="tabpanel"
                aria-labelledby="pills-fuel-tab"
                tabindex="0"
              >
                <img
                  class="w-100"
                  src="./assets/images/Fuel-graph.svg"
                  alt="Graph1"
                />
              </div>
              <div
                class="tab-pane fade"
                id="pills-ecpower"
                role="tabpanel"
                aria-labelledby="pills-ecpower-tab"
                tabindex="0"
              >
                <img
                  class="w-100"
                  src="./assets/images/Electric_power.svg"
                  alt="Graph1"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  