<div class="sensorComponentMain">


    <div class="sensorHeaderMainDesktop">
        <div class="TagNameFlex">
            <input type="text" class="form-control sensorMagnifineGlassSvg" placeholder="Tag Name"
                aria-label="Recipient's username" aria-describedby="basic-addon2">
        </div>
        <div class="sensorHeadingTextDecoration">TAG VALUE</div>
        <div class="sensorHeadingTextDecoration">TAG UNIT</div>
        <div class="sensorHeadingTextDecoration">Last UPDATED (UTC)</div>
        <div class="sensorHeadingTextDecoration">TAG TYPE</div>
    </div>


    <!-- mobile view only -->

    <div class="sensorHeaderMainMobile">

        <div>
            <input type="text" class="form-control sensorHeaderMainMobileInput" placeholder="Search tag name"
                aria-label="Recipient's username" aria-describedby="basic-addon2">
        </div>

        <div class="sensorHeaderForMobile">
            <div class="sensorHeadingTextDecoration">Tag NAME</div>
            <div class="sensorHeadingTextDecoration">Tag VALUE</div>
            <div class="sensorHeadingTextDecoration">Tag UNIT</div>
            <div class="sensorHeadingTextDecoration">Tag TYPE</div>
        </div>

    </div>

    <!-- mobile view ends  -->

    <!-- <app-live-data-feed> -->

    <div class="parentForLiveDataFeed">
        <!-- desktop view starts  -->
        <div class="liveDataFeedMainDeskTop">
            <div class="liveDataFeedForBigScreen">
                <div class="liveDataFeedValue">Anemometer relative wind direction</div>
                <div class="liveDataFeedValue liveDataFeedValueBold">295</div>
                <div class="liveDataFeedValue">Degree</div>
                <div class="liveDataFeedValue">2023/02/26 10:48</div>
                <div class="liveDataFeedValue">Tag 435</div>
            </div>

        </div>

        <div class="liveDataFeedMainDeskTop">
            <div class="liveDataFeedForBigScreen">
                <div class="liveDataFeedValue">Anemometer relative wind direction</div>
                <div class="liveDataFeedValue liveDataFeedValueBold">295</div>
                <div class="liveDataFeedValue">Degree</div>
                <div class="liveDataFeedValue">2023/02/26 10:48</div>
                <div class="liveDataFeedValue">Tag 435</div>
            </div>
        </div>
        <div class="liveDataFeedMainDeskTop">
            <div class="liveDataFeedForBigScreen">
                <div class="liveDataFeedValue">Anemometer relative wind direction</div>
                <div class="liveDataFeedValue liveDataFeedValueBold">295</div>
                <div class="liveDataFeedValue">Degree</div>
                <div class="liveDataFeedValue">2023/02/26 10:48</div>
                <div class="liveDataFeedValue">Tag 435</div>
            </div>
        </div>
        <div class="liveDataFeedMainDeskTop">
            <div class="liveDataFeedForBigScreen">
                <div class="liveDataFeedValue">Anemometer relative wind direction</div>
                <div class="liveDataFeedValue liveDataFeedValueBold">295</div>
                <div class="liveDataFeedValue">Degree</div>
                <div class="liveDataFeedValue">2023/02/26 10:48</div>
                <div class="liveDataFeedValue">Tag 435</div>
            </div>
        </div>
        <div class="liveDataFeedMainDeskTop">
            <div class="liveDataFeedForBigScreen">
                <div class="liveDataFeedValue">Anemometer relative wind direction</div>
                <div class="liveDataFeedValue liveDataFeedValueBold">295</div>
                <div class="liveDataFeedValue">Degree</div>
                <div class="liveDataFeedValue">2023/02/26 10:48</div>
                <div class="liveDataFeedValue">Tag 435</div>
            </div>
        </div>
        <div class="liveDataFeedMainDeskTop">
            <div class="liveDataFeedForBigScreen">
                <div class="liveDataFeedValue">Anemometer relative wind direction</div>
                <div class="liveDataFeedValue liveDataFeedValueBold">295</div>
                <div class="liveDataFeedValue">Degree</div>
                <div class="liveDataFeedValue">2023/02/26 10:48</div>
                <div class="liveDataFeedValue">Tag 435</div>
            </div>
        </div>
        <div class="liveDataFeedMainDeskTop">
            <div class="liveDataFeedForBigScreen">
                <div class="liveDataFeedValue">Anemometer relative wind direction</div>
                <div class="liveDataFeedValue liveDataFeedValueBold">295</div>
                <div class="liveDataFeedValue">Degree</div>
                <div class="liveDataFeedValue">2023/02/26 10:48</div>
                <div class="liveDataFeedValue">Tag 435</div>
            </div>
        </div>
        <div class="liveDataFeedMainDeskTop">
            <div class="liveDataFeedForBigScreen">
                <div class="liveDataFeedValue">Anemometer relative wind direction</div>
                <div class="liveDataFeedValue liveDataFeedValueBold">295</div>
                <div class="liveDataFeedValue">Degree</div>
                <div class="liveDataFeedValue">2023/02/26 10:48</div>
                <div class="liveDataFeedValue">Tag 435</div>
            </div>
        </div>
        <div class="liveDataFeedMainDeskTop">
            <div class="liveDataFeedForBigScreen">
                <div class="liveDataFeedValue">Anemometer relative wind direction</div>
                <div class="liveDataFeedValue liveDataFeedValueBold">295</div>
                <div class="liveDataFeedValue">Degree</div>
                <div class="liveDataFeedValue">2023/02/26 10:48</div>
                <div class="liveDataFeedValue">Tag 435</div>
            </div>
        </div>
        <div class="liveDataFeedMainDeskTop">
            <div class="liveDataFeedForBigScreen">
                <div class="liveDataFeedValue">Anemometer relative wind direction</div>
                <div class="liveDataFeedValue liveDataFeedValueBold">295</div>
                <div class="liveDataFeedValue">Degree</div>
                <div class="liveDataFeedValue">2023/02/26 10:48</div>
                <div class="liveDataFeedValue">Tag 435</div>
            </div>
        </div>
        <div class="liveDataFeedMainDeskTop">
            <div class="liveDataFeedForBigScreen">
                <div class="liveDataFeedValue">Anemometer relative wind direction</div>
                <div class="liveDataFeedValue liveDataFeedValueBold">295</div>
                <div class="liveDataFeedValue">Degree</div>
                <div class="liveDataFeedValue">2023/02/26 10:48</div>
                <div class="liveDataFeedValue">Tag 435</div>
            </div>
        </div>
        <div class="liveDataFeedMainDeskTop">
            <div class="liveDataFeedForBigScreen">
                <div class="liveDataFeedValue">Anemometer relative wind direction</div>
                <div class="liveDataFeedValue liveDataFeedValueBold">295</div>
                <div class="liveDataFeedValue">Degree</div>
                <div class="liveDataFeedValue">2023/02/26 10:48</div>
                <div class="liveDataFeedValue">Tag 435</div>
            </div>
        </div>
        <div class="liveDataFeedMainDeskTop">
            <div class="liveDataFeedForBigScreen">
                <div class="liveDataFeedValue">Anemometer relative wind direction</div>
                <div class="liveDataFeedValue liveDataFeedValueBold">295</div>
                <div class="liveDataFeedValue">Degree</div>
                <div class="liveDataFeedValue">2023/02/26 10:48</div>
                <div class="liveDataFeedValue">Tag 435</div>
            </div>
        </div>
        <div class="liveDataFeedMainDeskTop">
            <div class="liveDataFeedForBigScreen">
                <div class="liveDataFeedValue">Anemometer relative wind direction</div>
                <div class="liveDataFeedValue liveDataFeedValueBold">295</div>
                <div class="liveDataFeedValue">Degree</div>
                <div class="liveDataFeedValue">2023/02/26 10:48</div>
                <div class="liveDataFeedValue">Tag 435</div>
            </div>
        </div>
        <!-- desktop view ends  -->

        <!-- mobile view starts  -->
        <div class="liveDataFeedMobileScreen">
            <div class="sensorLiveDataMobileList">
                <div class="sensorLiveDataMobileListUpper">
                    <div class="sensorLiveDataFeedForMobileText">Anemometer relative wind direction</div>
                    <div class="sensorLiveDataFeedForMobileText sensorLiveDataFeedForMobileTextBold">295</div>
                    <div class="sensorLiveDataFeedForMobileText">degree</div>
                    <div class="sensorLiveDataMobileListUpperTagTypeText">Tag 435</div>
                </div>
                <div class="sensorLiveDataMobileListLower">
                    <div>LAST UPDATED (UTC)</div>
                    <div class="sensorLiveDataMobileListLowerValues">
                        <div>2023/02/26</div>
                        <div>10:48</div>
                    </div>
                </div>
            </div>

            <div class="sensorLiveDataMobileList">
                <div class="sensorLiveDataMobileListUpper">
                    <div class="sensorLiveDataFeedForMobileText">Anemometer relative wind direction</div>
                    <div class="sensorLiveDataFeedForMobileText sensorLiveDataFeedForMobileTextBold">295</div>
                    <div class="sensorLiveDataFeedForMobileText">degree</div>
                    <div class="sensorLiveDataMobileListUpperTagTypeText">Tag 435</div>
                </div>
                <div class="sensorLiveDataMobileListLower">
                    <div>LAST UPDATED (UTC)</div>
                    <div class="sensorLiveDataMobileListLowerValues">
                        <div>2023/02/26</div>
                        <div>10:48</div>
                    </div>
                </div>
            </div>

            <div class="sensorLiveDataMobileList">
                <div class="sensorLiveDataMobileListUpper">
                    <div class="sensorLiveDataFeedForMobileText">Anemometer relative wind direction</div>
                    <div class="sensorLiveDataFeedForMobileText sensorLiveDataFeedForMobileTextBold">295</div>
                    <div class="sensorLiveDataFeedForMobileText">degree</div>
                    <div class="sensorLiveDataMobileListUpperTagTypeText">Tag 435</div>
                </div>
                <div class="sensorLiveDataMobileListLower">
                    <div>LAST UPDATED (UTC)</div>
                    <div class="sensorLiveDataMobileListLowerValues">
                        <div>2023/02/26</div>
                        <div>10:48</div>
                    </div>
                </div>
            </div>

            <div class="sensorLiveDataMobileList">
                <div class="sensorLiveDataMobileListUpper">
                    <div class="sensorLiveDataFeedForMobileText">Anemometer relative wind direction</div>
                    <div class="sensorLiveDataFeedForMobileText sensorLiveDataFeedForMobileTextBold">295</div>
                    <div class="sensorLiveDataFeedForMobileText">degree</div>
                    <div class="sensorLiveDataMobileListUpperTagTypeText">Tag 435</div>
                </div>
                <div class="sensorLiveDataMobileListLower">
                    <div>LAST UPDATED (UTC)</div>
                    <div class="sensorLiveDataMobileListLowerValues">
                        <div>2023/02/26</div>
                        <div>10:48</div>
                    </div>
                </div>
            </div>
            <div class="sensorLiveDataMobileList">
                <div class="sensorLiveDataMobileListUpper">
                    <div class="sensorLiveDataFeedForMobileText">Anemometer relative wind direction</div>
                    <div class="sensorLiveDataFeedForMobileText sensorLiveDataFeedForMobileTextBold">295</div>
                    <div class="sensorLiveDataFeedForMobileText">degree</div>
                    <div class="sensorLiveDataMobileListUpperTagTypeText">Tag 435</div>
                </div>
                <div class="sensorLiveDataMobileListLower">
                    <div>LAST UPDATED (UTC)</div>
                    <div class="sensorLiveDataMobileListLowerValues">
                        <div>2023/02/26</div>
                        <div>10:48</div>
                    </div>
                </div>
            </div>
            <div class="sensorLiveDataMobileList">
                <div class="sensorLiveDataMobileListUpper">
                    <div class="sensorLiveDataFeedForMobileText">Anemometer relative wind direction</div>
                    <div class="sensorLiveDataFeedForMobileText sensorLiveDataFeedForMobileTextBold">295</div>
                    <div class="sensorLiveDataFeedForMobileText">degree</div>
                    <div class="sensorLiveDataMobileListUpperTagTypeText">Tag 435</div>
                </div>
                <div class="sensorLiveDataMobileListLower">
                    <div>LAST UPDATED (UTC)</div>
                    <div class="sensorLiveDataMobileListLowerValues">
                        <div>2023/02/26</div>
                        <div>10:48</div>
                    </div>
                </div>
            </div>
            <div class="sensorLiveDataMobileList">
                <div class="sensorLiveDataMobileListUpper">
                    <div class="sensorLiveDataFeedForMobileText">Anemometer relative wind direction</div>
                    <div class="sensorLiveDataFeedForMobileText sensorLiveDataFeedForMobileTextBold">295</div>
                    <div class="sensorLiveDataFeedForMobileText">degree</div>
                    <div class="sensorLiveDataMobileListUpperTagTypeText">Tag 435</div>
                </div>
                <div class="sensorLiveDataMobileListLower">
                    <div>LAST UPDATED (UTC)</div>
                    <div class="sensorLiveDataMobileListLowerValues">
                        <div>2023/02/26</div>
                        <div>10:48</div>
                    </div>
                </div>
            </div>
            <div class="sensorLiveDataMobileList">
                <div class="sensorLiveDataMobileListUpper">
                    <div class="sensorLiveDataFeedForMobileText">Anemometer relative wind direction</div>
                    <div class="sensorLiveDataFeedForMobileText sensorLiveDataFeedForMobileTextBold">295</div>
                    <div class="sensorLiveDataFeedForMobileText">degree</div>
                    <div class="sensorLiveDataMobileListUpperTagTypeText">Tag 435</div>
                </div>
                <div class="sensorLiveDataMobileListLower">
                    <div>LAST UPDATED (UTC)</div>
                    <div class="sensorLiveDataMobileListLowerValues">
                        <div>2023/02/26</div>
                        <div>10:48</div>
                    </div>
                </div>
            </div>
            <div class="sensorLiveDataMobileList">
                <div class="sensorLiveDataMobileListUpper">
                    <div class="sensorLiveDataFeedForMobileText">Anemometer relative wind direction</div>
                    <div class="sensorLiveDataFeedForMobileText sensorLiveDataFeedForMobileTextBold">295</div>
                    <div class="sensorLiveDataFeedForMobileText">degree</div>
                    <div class="sensorLiveDataMobileListUpperTagTypeText">Tag 435</div>
                </div>
                <div class="sensorLiveDataMobileListLower">
                    <div>LAST UPDATED (UTC)</div>
                    <div class="sensorLiveDataMobileListLowerValues">
                        <div>2023/02/26</div>
                        <div>10:48</div>
                    </div>
                </div>
            </div>

        </div>
        <!-- mobile view ends  -->

        <div class="no-result-found container">
            <img src="./assets/images/Search-icon.svg" class="search-icon mb-3" alt="">
            <div class="text-div">
                <h3>No Result Found</h3>
                <h5>Try searching with different tag name</h5>
            </div>
        </div>

    </div>


    <!-- </app-live-data-feed> -->



    <!-- Notification -->

    <div class="notificationSensor " [ngClass]="{ 'dismissNotification': !isNotifiactionDismiss }">
        <div class="notificationSensorMain">
            <div class="notificationSensorMainTopOfficer">
                <div class="notificationSensorMainOfficerImg"><img src="./assets/images/guidenceListUser.png" /></div>
                <div class="notificationSensorMainOfficerName">E/R or bridge watchkeeping officer</div>
            </div>
            <div class="notificationSensorMainIssue">Consider to stop steering gear pump</div>
            <div class="notificationSensorMainIssueReason">Steering gear pump is running after FWE causing additional
                maintenance</div>
            <div class="notificationSensorButtonFlex">
                <button type="button" class="detailsBtnMobile" data-bs-toggle="modal"
                    data-bs-target="#exampleModalCenterSensorMain">
                    Details
                </button>

                <div class="modal fade bd-example-modal-lg " id="exampleModalCenterSensorMain" tabindex="-1"
                    role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg detailsOnClickModalForTab" role="document">
                        <div class="modal-content noLeftAndRightBorderRadius">
                            <div class="modal-header">
                                <h5 class="modal-title boldFontForNotification" id="exampleModalCenterTitle">
                                    Automated Guidance Details
                                </h5>
                                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button> -->
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body ">
                                <div class="DetailsModalOnlyForDeskTop">
                                    <h4 class="modalDetailText">Details</h4>
                                    <div class="acknowledgeModalList">
                                        <div class="guidanceListContentLeft">
                                            <div class="guidenceOfficerFlexImg">
                                                <img src="./assets/images/guidenceListUser.png" />
                                                <div class="guidanceListContentOfficer"> E/R or bridge watchkeeping
                                                    officer </div>
                                            </div>
                                            <div class="guidanceListContentLeftDetails">
                                                <div class="guidanceListContentIssue">
                                                    Consider to stop steering gear pump
                                                </div>
                                                <div class="guidanceListContentDescription">
                                                    Steering gear pump is running after FWE causing
                                                    additional maintenance
                                                </div>
                                            </div>
                                        </div>

                                        <div class="estimatedValue">
                                            <div class="kgPerHr">kg/hr</div>
                                            <div class="EstimatedvaluePerKg">20</div>
                                        </div>

                                        <div class="ActualValue">
                                            <div class="kgPerHr">Kg</div>
                                            <div class="ActualvaluePerKg">200</div>
                                        </div>
                                        <div>
                                            <div class="modalkgPerHr">Active Since</div>
                                            <div class="modalGuidanceListTime">05d 21h 40m</div>
                                        </div>
                                    </div>

                                    <div class="modalListSecond">
                                        <div class="row modalListSecondGrid">
                                            <div class="col guidanceListContentIssue">
                                                Acknowledged By
                                            </div>
                                            <div class="col guidanceListContentIssue">Reason</div>
                                            <div class="w-100"></div>
                                            <div class="col modalRedText">Not Acknowledged Yet</div>
                                            <div class="col modalRedText">Not Acknowledged Yet</div>
                                        </div>
                                    </div>

                                    <div class="modalSeperationLine"></div>

                                    <div class="modalStatusBar">
                                        <div class="modalStatusProgressText">Status Progress</div>
                                        <div class="modalStatusProgressGrid">
                                            <div class="modalStatusGridText">Triggered</div>
                                            <div class="modalStatusGridText">Activated</div>
                                            <div class="modalStatusGridText">Acknowledged</div>
                                            <div class="modalStatusProgressGridGrayText">Cleared</div>
                                            <div class="modalStatusFlex">
                                                <div class="modalStatusdiagram modalStatusdiagramImgPositions">

                                                    <img src="./assets/images/ackTickMark.png" />

                                                </div>
                                                <div class="modalStatusLine"></div>
                                            </div>
                                            <div class="modalStatusFlex">
                                                <div class="modalStatusdiagram modalStatusdiagramImgPositions">

                                                    <img src="./assets/images/ackTickMark.png" />

                                                </div>
                                                <div class="modalStatusLineDashed"></div>
                                            </div>
                                            <div class="modalStatusFlex">
                                                <div class="modalStatusdiagramHollow"></div>
                                                <div class="modalStatusGrayLine"></div>
                                            </div>
                                            <div class="modalStatusFlex">
                                                <div class="modalStatusdiagramHollowGray"></div>
                                                <div class=""></div>
                                            </div>
                                            <div class="modalStatusDateAndTime">
                                                <div class="modalStatusDate">20-04-23</div>
                                                <div class="modalStatusTime">09:23 PM</div>
                                            </div>
                                            <div class="modalStatusDateAndTime">
                                                <div class="modalStatusDate">20-04-23</div>
                                                <div class="modalStatusTime">09:23 PM</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="DetailsModalOnlyForMobile">
                                    <h4 class="modalDetailText">Details</h4>

                                    <div class="guidanceMain">
                                        <div class="guidanceListContent redBorderForModelMobilePopUp">
                                            <div class="guidanceListContentLeft">
                                                <div class="guidenceOfficerFlexImg">
                                                    <img src="./assets/images/guidenceListUser.png" />
                                                    <div class="guidanceListContentOfficer"> E/R or bridge watchkeeping
                                                        officer </div>
                                                </div>
                                                <div class="guidanceListContentLeftDetails">
                                                    <div class="guidanceListContentIssue"> Consider to stop steering
                                                        gear pump </div>
                                                    <div class="guidanceListContentDescription"> Steering gear pump
                                                        is running after FWE causing additional maintenance </div>
                                                </div>
                                            </div>
                                            <div class="estimatedValue">
                                                <div class="kgPerHr">kg/hr</div>
                                                <div class="EstimatedvaluePerKg">20</div>
                                            </div>
                                            <div class="ActualValue">
                                                <div class="kgPerHr">Kg</div>
                                                <div class="ActualvaluePerKg">200</div>
                                            </div>
                                            <div class="valueForMobileView">
                                                <div class="mobileEstimatedValue">
                                                    <div class="mobilekgPerHr">kg/hr</div>
                                                    <div class="mobileEstimatedvaluePerKg">20</div>
                                                </div>
                                                <div class="mobileActualValue">
                                                    <div class="mobilekgPerHr">Kg</div>
                                                    <div class="mobileActualvaluePerKg">200</div>
                                                </div>
                                                <div>
                                                    <div class="mobilekgPerHr">Active Since</div>
                                                    <div class="mobileGuidanceListTime">05d 21h 40m</div>
                                                </div>
                                            </div>
                                            <div class="guidanceListContentRight">
                                                <div class="guidanceListTime">05d 21h 40m</div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="modalListSecond">
                                        <div class="row modalListSecondGrid">
                                            <div class="col guidanceListContentIssue"> Acknowledged By </div>
                                            <div class="col guidanceListContentIssue">Reason</div>
                                            <div class="w-100"></div>
                                            <div class="col modalRedText">Not Acknowledged Yet</div>
                                            <div class="col modalRedText">Not Acknowledged Yet</div>
                                        </div>
                                    </div>

                                    <div class="modalSeperationLine"></div>

                                    <div class="modalStatusBar">
                                        <div class="modalStatusProgressText">Status Progress</div>
                                        <div class="modalStatusProgressGrid">
                                            <div>Triggered</div>
                                            <div>Activated</div>
                                            <div>Acknowledged</div>
                                            <div class="modalStatusProgressGridGrayText">Cleared</div>
                                            <div class="modalStatusFlex">
                                                <div class="modalStatusdiagram">

                                                    <img src="./assets/images/ackTickMark.png" />

                                                </div>
                                                <div class="modalStatusLine"></div>
                                            </div>
                                            <div class="modalStatusFlex">
                                                <div class="modalStatusdiagram">

                                                    <img src="./assets/images/ackTickMark.png" />

                                                </div>
                                                <div class="modalStatusLineDashed"></div>
                                            </div>
                                            <div class="modalStatusFlex">
                                                <div class="modalStatusdiagramHollow"></div>
                                                <div class="modalStatusGrayLine"></div>
                                            </div>
                                            <div class="modalStatusFlex">
                                                <div class="modalStatusdiagramHollowGray"></div>
                                                <div></div>
                                            </div>
                                            <div class="modalStatusDateAndTime">
                                                <div class="modalStatusDate">20-04-23</div>
                                                <div class="modalStatusTime">09:23 PM</div>
                                            </div>
                                            <div class="modalStatusDateAndTime">
                                                <div class="modalStatusDate">20-04-23</div>
                                                <div class="modalStatusTime">09:23 PM</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="modal-footer">
                                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                                    Acknowledge
                                </button>
                            </div>
                        </div>
                    </div>
                </div>



                <div (click)="dismissNotificationFunction()" class="dismissCursorPointer dismissText">Dismiss</div>
            </div>
        </div>
    </div>


</div>